@model OgrenciCreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Öğrenci Ekle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Ogrenci" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Öğretmen Adı</label>
                @Html.DropDownListFor(m => m.Ogrenci.OgretmenId, (List<SelectListItem>)ViewBag.Ogretmenler, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label class="control-label">Bölüm Adı</label>
                @Html.DropDownListFor(m => m.Ogrenci.BolumId, (List<SelectListItem>)ViewBag.Bolumler, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="Ogrenci.Ad" class="control-label"></label>
                <input asp-for="Ogrenci.Ad" class="form-control" />
                <span asp-validation-for="Ogrenci.Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogrenci.Soyad" class="control-label"></label>
                <input asp-for="Ogrenci.Soyad" class="form-control" />
                <span asp-validation-for="Ogrenci.Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogrenci.DogumTarihi" class="control-label"></label>
                <input type="date" asp-for="Ogrenci.DogumTarihi" class="form-control" />
                <span asp-validation-for="Ogrenci.DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogrenci.Cinsiyet" class="control-label"></label>
                <input asp-for="Ogrenci.Cinsiyet" class="form-control" />
                <span asp-validation-for="Ogrenci.Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="GetAll">Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
